<div class="view">
  <input class="toggle" type="checkbox" <%= is_completed ? 'checked' : '' %>>
  <label><%- title %></label>
  <button class="destroy"></button>
</div>
<input class="edit" value="<%- title %>">
